[submodule "modules/puppetci"]
	path = modules/puppetci
	url = https://github.com/naturalis/puppet-puppetci
[submodule "modules/base"]
	path = modules/base
	url = https://github.com/naturalis/puppet-base.git
[submodule "modules/dierendeterminatie"]
	path = modules/dierendeterminatie
	url = https://github.com/naturalis/puppet-dierendeterminatie.git
