[submodule "modules/puppetci"]
	path = modules/puppetci
	url = https://github.com/naturalis/puppet-puppetci
[submodule "modules/base"]
	path = modules/base
	url = https://github.com/naturalis/puppet-base
[submodule "modules/dierendeterminatie"]
	path = modules/dierendeterminatie
	url = https://github.com/naturalis/puppet-dierendeterminatie.git
[submodule "modules/monophylizer"]
	path = modules/monophylizer
	url = https://github.com/naturalis/puppet-monophylizer.git
[submodule "modules/puppetdev"]
	path = modules/puppetdev
	url = https://github.com/naturalis/puppet-puppetdev.git
