[submodule "modules/puppetci"]
	path = modules/puppetci
	url = https://github.com/naturalis/puppet-puppetci
[submodule "modules/base"]
	path = modules/base
	url = https://github.com/naturalis/puppet-base
[submodule "modules/dierendeterminatie"]
	path = modules/dierendeterminatie
	url = https://github.com/naturalis/puppet-dierendeterminatie.git
[submodule "modules/monophylizer"]
	path = modules/monophylizer
	url = https://github.com/naturalis/puppet-monophylizer.git
[submodule "modules/puppetdev"]
	path = modules/puppetdev
	url = https://github.com/naturalis/puppet-puppetdev.git
[submodule "modules/ftpserver"]
	path = modules/ftpserver
	url = https://github.com/naturalis/puppet-ftpserver.git
[submodule "modules/vsftpd"]
	path = modules/vsftpd
	url = https://github.com/thias/puppet-vsftpd.git
[submodule "modules/lemmus"]
	path = modules/lemmus
	url = https://github.com/naturalis/puppet-lemmus.git
[submodule "modules/lianasofguyana"]
	path = modules/lianasofguyana
	url = https://github.com/naturalis/puppet-lianas-of-guyana.org.git
[submodule "modules/sensu"]
	path = modules/sensu
	url = https://github.com/sensu/sensu-puppet
[submodule "modules/hermannherbarium"]
	path = modules/hermannherbarium
	url = https://github.com/naturalis/puppet-hermann-herbarium.nl.git
[submodule "modules/ipt-toolkit"]
	path = modules/ipt-toolkit
	url = https://github.com/naturalis/puppet-ipt-toolkit.git
[submodule "modules/sensuclient"]
	path = modules/sensuclient
	url = https://github.com/naturalis/puppet-sensuclient.git
[submodule "modules/medialibrary"]
	path = modules/medialibrary
	url = https://github.com/naturalis/puppet-medialibrary
[submodule "modules/foreman_proxy"]
	path = modules/foreman_proxy
	url = https://github.com/theforeman/puppet-foreman_proxy.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/nsr"]
	path = modules/nsr
	url = https://github.com/naturalis/puppet-nsr
[submodule "modules/bioportal"]
	path = modules/bioportal
	url = https://github.com/naturalis/puppet-bioportal
